    <div>
        <h1>Result</h1>
        <img class="one_dice" src="{{{diceImg1}}}" alt="">
        <img class="one_dice" src="{{{diceImg2}}}" alt="">
        <h4>Dice rolled : {{{dice1}}} and {{{dice2}}} </h4>
        <br>
        <a href="/">Home</a>
    </div>